@model WebFrontend.Models.CosmeticDto
<h1 class="text-center mb-5 wow fadeInUp text-danger" data-wow-delay="0.1s">Create New Product</h1>

<div class="card" style="width: 100%;">
  <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
    <h5 class="card-title">@Model.name</h5>
    <p class="card-text">@Model.description</p>
  </div>
</div>